<!DOCTYPE html>
<html>
<head>
<title>MeatMe</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
var initialLocation;
var lat;
var lon;
var siberia = new google.maps.LatLng(60, 105);
var newyork = new google.maps.LatLng(80.69847032728747, -30.9514422416687);
var browserSupportFlag =  new Boolean();

function initialize() {
  var myOptions = {
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(initialLocation);
      
       lat = position.coords.latitude;
       lon = position.coords.longitude;
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  // Try Google Gears Geolocation
  } else if (google.gears) {
    browserSupportFlag = true;
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
      map.setCenter(initialLocation);

      lat = position.latitude;
      lon = position.longitude;
    }, function() {
      handleNoGeoLocation(browserSupportFlag);
    });
  // Browser doesn't support Geolocation
  } else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
  
  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");
      initialLocation = newyork;
    } else {
      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
      initialLocation = siberia;
    }
    map.setCenter(initialLocation);
  }
}
    function testResults (form){
      var group = $name;
      
      window.location.href='add/?lat='+ lat + '&lng=' + lon + '&name=' + group;
    }


</script>
<body onload="initialize()">

$curr_num
$max_num

<FORM NAME="myform" ACTION="" METHOD="GET">
<INPUT TYPE="button" NAME="join" Value="Click" onClick="testResults(this.form)">
</FORM>

<div id="map_canvas" style="width:0%; height:0%">  </div>
</body>
</html>

